{% extends "base.twig" %}

{% block content %}
<link rel="stylesheet" href="/css/account.css">
<script src="/js/account.js"></script>
    <div class="container">
        <h1>YOUR ACCOUNT</h1>
        <h2>PROFILE</h2>
        <h3>LINKED GOOGLE ACCOUNT</h3>
        <p id="email"></p>
        <h3>NAME</h3>
        <p id="name"></p>
        <h3>ACCOUNT TYPE</h3>
        <p>Not available yet.</p>
    </div>
{% endblock %}