{% extends "base.twig" %}

{% block content %}
    <script src="/js/collections.js"></script>
    <div class="container">
        <h1 id="h1col">MY COLLECTIONS</h1>
        <div id="collections"></div>
    </div>
{% endblock %}