<!DOCTYPE html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="google-signin-client_id" content="1051549843498-vkaq31j25faui6j6tp6hccrulrklvmdt.apps.googleusercontent.com">

		<title>The Magpie App</title>

		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet"> 
		<link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/manifest.json">
		<meta name="theme-color" content="#ffffff">
		<!-- Normalize CSS makes browsers render all elements more consistently -->
		<link rel="stylesheet" href="https://necolas.github.io/normalize.css/5.0.0/normalize.css">  
		<!-- YOUR STYLES GO HERE -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/first.css">

		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		
	</head>
	<body>

		<!-- MAGPIE'S AWESOME WEBSITE -->
		<div id="wrapper">
			<div id="content">
				<img id="mainLogo" src="img/mglogo2.png" alt="Magpie Birdhouse">
				<h2 id="info">Magpie is an app that combines scavenge hunting and a guided tour of landmarks.<br />
					Find Landmarks, complete collections, and learn about the world around you.
					</h2>
				<h1><a href="/login">Login or Create an Account</a></h1>
				<div id="userInfo"></div>
			</div>
			<!-- Core, added on 5/1/2018 -->
			<div id="coreInfo">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<img class="img-responsive" src="img/platforms01.png" alt="platforms">
							<h3>CMS server is on many Platforms</h3>
							<p>The CMS service is web base and insures access to your collections and badges from any web capable device.</p>
						</div>
						<div class="col-sm-4">
							<img class="img-responsive" src="img/collections01.png" alt="collections">
							<h3>Make Collections</h3>
							<p>Build your own Magpie Collections and share them with other users. Also update collections and expand them.</p>
						</div>
						<div class="col-sm-4">
							<img class="img-responsive" src="img/badges01.png" alt="badges">
							<h3>Add Badges</h3>
							<p>Use existing or add your own Badges to your collections. Use Landmarks to make badges and link them to your collections</p>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<img class="img-responsive" src="img/QRcodes01.png" alt="QRcodes">
							<h3>Set up QR codes</h3>
							<p>Provide QR codes for landmarks so that users can redeem the badges. 
								This is a must for poor to no network environments, such as Convention centers and National Parks.</p>
						</div>
						<div class="col-sm-4">
							<img class="img-responsive" src="img/transferToApp01.png" alt="transferToApp">
							<h3>Send Collections to the App</h3>
							<p>Send your collections to the Magpie app and share them on social media. Also keep track of your collections on the website.</p>
						</div>
						<div class="col-sm-4">
							<img class="img-responsive" src="img/AutoBackup.png" alt="autoBackup">
							<h3>Backups for the App</h3>
							<p>The CMS keeps track of all down loads to the mobile app. Alowing for ease of backing up and recovery of user data.</p>
						</div>
					</div>
				</div>
				<br><br><br><br>
			</div>
			<div id="footer">
				<h4 id="copyright">copyright 2017</h4>
			</div>
		</div>
	</body>
</html>