{% extends "base.twig" %}

{% block content %}
    <div class="container">
        <h1>LEGAL STUFF</h1>
        <p>For questions and concerns, please email us at ewumagpie@gmail.com</p>
    </div>
{% endblock %}