{#
    welcome.twig

    This page is to be used as a welcome page once the user has logged in
#}

{% extends "base.twig" %}

{% block content %}
    <div class="container">
        <h1>Welcome</h1>
        <div id="view"></div>
    </div>
{% endblock %}